/* basic page styling */

img,embed,object,video {max-width:100%}
.left,.mid,.right{
  position:relative;
  height:100% !important;
  float:left;
}
.left,.right{width:20%}
.mid{width:60%}
html,body,#home{
  height:100%;
  width:100%;
  margin:0;
  overflow:hidden;
}
#loading{
  background-color: rgba(224,222,224,.8);
  color:black;
  position: fixed;
  z-index:1000;
  width: 100%;
  height: 100%;
}
#loading span{font-size: 30px;}
#loading div{padding-top: 45vh;}
.container{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding:0 !important;
  width:100% !important;
  height:100%;
  text-align: center;
  overflow: hidden;
}
#home{ }
#main{
  min-width: 300px;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}
#topRow,#midRow,#map,#noClusters{margin-top: 10px;display:block;}
#topRow,#midRow{height:40px;}
#map,#noClusters{
  position:relative;
  background-repeat: none;
  background-size: cover;
  /*z-index: 1000;*/
}
#map{background-image: url(/assets/world-3e8559752d2260ea52b95e92ef4a3a5f0e92e57178b078e71aaf4639819df9b5.png);}

/* icon styling */
.icon{
  height:40px;
  width:40px;
  background-size: 100%,100%;
  background-repeat: no-repeat;
}
.icon:hover{
  height:48px;
  width:48px;
  cursor:pointer;
}
/*keep icons to the side...*/
#streetsToggle,#issuesToggle{
  position:absolute;
  left:0;
}
#help,#mapToggle{
  position:absolute;
  right:0;
}
#title{
  height:100%;
  margin:0;
  width:100%;
  text-align: center;
  padding-top:auto;
  padding-bottom: auto;
}

/*---map toggle icon---*/
#mapToggle{
  margin-top: -5px;
  height:40px;
  width:50px;
  clear:both;
  text-align: center;
  direction:rtl;
}
#mapToggle > h3{
  margin:0 !important;
  padding:0 !important;
  font-size: 22px !important;

}
#mapToggle > h3:hover{
  font-size: 25px !important;
    z-index:10000;
}

/*--- styling for guide indicators ---*/
.highlited {
  outline:5px solid orange !important;
}

/*---combobox---*/
#combobox{}
.ui-autocomplete{
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*reduce ui-autocomplete height for sideways mobile view*/
@media screen and (max-height: 400px){
  .ui-autocomplete{
    max-height: 180px;
  }
}
.custom-combobox {
  margin:0 !important;
  padding:0 !important;
  height: 100% !important;
  text-align: left !important;
  display: block;
}
.custom-combobox-toggle {
  /*margin:0 !important;*/
  margin-bottom:6px;
  padding:0 !important;
  border-style: solid !important;
  border-width: 2px !important;
  position: absolute !important;
  height: 37px !important;
  width: 20% !important;
  border-color: lightgrey !important;
  text-align: center;
  color:grey !important;
  background: none !important;
  float:left;
}

.custom-combobox-toggle:hover{
  z-index:101;
  border-color: grey !important;
}
.custom-combobox-input {
  margin:0 !important;
  padding:0 !important;
  background: none !important;
  height:40px !important;
  width: 78% !important;
  float:left;
}
div>.ui-widget{
  height:100% !important;
  width: 100% !important;
  max-width: 600px;
  text-align: center;
}
/* keep button right size */
@media screen and (min-width: 425px){
  .custom-combobox-input{width:83% !important;}
  .custom-combobox-toggle{width:15% !important;}
}
@media screen and (min-width: 600px){
  .custom-combobox-input{width:87% !important;}
  .custom-combobox-toggle{width:12% !important;}
}

/* main footer */
#bottomRow{
  position:relative;
  min-height: 21px;
  padding-top: 8px;
  padding-bottom:8px;
  margin-left: 5px;
  margin-right: 5px;
}
.footerItem{
  padding-left:3px;
  padding-right:3px;
  margin:0;
  display: inline-block;
}
.pageLink:hover{
  outline:solid black 2px;
  border-radius: 5px;
  cursor: pointer;
}

/* home/main/sidebar */
#home.open{min-width:600px;}
#main.open{float:left;width:60%;}
#sidebar{
  height:100%;
  display:none;
  float:left;
}
#sidebar.open{
  display: block;
  width:40%;
}
/* keep the sidebar approximately 250-300px*/
@media screen and (min-width: 800px) {
  #sidebar.open{
    width:35%;
  }
  #main.open{
    width:65%;
  }
}
@media screen and (min-width: 1000px) {
  #sidebar.open{
    width:30%;
  }
  #main.open{
    width:70%;
  }
}

/* sidebar */
.collapse{
  height:100%;
  background-color:rgb(204,202,204);
  width:10%;
  float:left;
}
.collapse:hover{
  cursor: pointer;
  background-color:rgb(174,172,174);
}
.collapse div{
  padding-top: 45vh;
  padding-left: 2px;
}
#streets,#issues{
  background-color: rgb(224,222,224);
  position:relative;
  display:none;
  margin:0;
  height:100% !important;
  width:89% !important;
  top:0;
  left:0;
  overflow-y:hidden;
  overflow-x:hidden;
  text-align: center;
  float:left;
}
#streets.open,#issues.open{display:block;}
#issuesTitle,#streetsTitle{
  position: relative;
  height:60px;
  width:100%;
  margin-top: 0;
  background-color:rgb(224,222,224) ;
}
#streetsFooter,#issuesFooter{
  position: relative;
  min-height: 60px;
  height:60px;
  width:100%;
  margin: 0;
  background-color:rgb(224,222,224);
}
#streetsFooter:hover,#issuesFooter:hover{
  font-size: 1.1em;
  cursor:pointer;
}
#issuesTitle>h1,#streetsTitle>h1{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
#issuesFooter>h1,#streetsFooter>h1{
  margin:0;
  padding-top:10px;
  padding-bottom: 10px;
}
.sidebarContent{
  display:block;
  margin-left: 20px;
  padding-right: 20px;
  border: none;
  border-collapse: collapse;
  overflow:auto;
}

a,a:link,a:visited,a:hover,a:active{
  color:inherit;
  text-decoration: none;
}

/*sidebar content*/
.streetRow{
  margin: 10px;
  min-height: 60px;
  justify-content: space-between;
}
.streetRow td{
  padding-top: 8px;
  padding-bottom: 8px;
}
.streetRow .pct{padding-left: 10px;}
.streetRow:hover,.issueRow:hover{
  background-color: #D4B16A;
  cursor: pointer;
}
.issueRow{
  margin: 10px;
  background-color: rgba(212,177,106,0.4);
}
.rank{
  height:40px;
  border-radius: 25px;
  background-color: #BEB9B5;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
.name{
  margin-right: 10px;
  margin-left:10px;
}
.streetText{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:5px;
  margin-right:5px;
}
/* selected issue */
.issueRow.selected{
  background-color: rgba(255,223,222,.6) !important;
  color: rgb(157,74,70);
}
.issueRow.selected:hover{
  background-color: rgba(255,223,222,1) !important;
}

/*all pages*/
.page{
  background-color:white;
  display:none;
  overflow-y: scroll;
  height:100%;
  width:100%;
  max-width: 600px;
  margin-top:0;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}
.pageTopRow,.pageContent{
  margin-left: 20px;
  margin-right: 20px;
}
.pageTopRow{
  height: 60px;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #BEB9B5;
}
.back{background-position: 0,0;}
.pageTitle,.back{
  margin:0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.back{background-image:url(/assets/back_icon-e5566e8dc59c4cc8d6ac8847fd993e111e734cf155a6f4c3077d920514c2d198.png)}
.pageContent{text-align: left;}
.divider{
  height:10px;
  border: solid black 5px;
}

/*feedback page*/
#feedbackPage{
  text-align: center;
  display:none;
}
#feedbackPage>.pageContent{
  text-align: center;
}
.feedbackInput{
  width: 90%;
  height:25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.g-recaptcha{
  width: 304px;
  float: none;
  text-align: center;
  margin: auto;
}
#messageBox{
  width:90%;
  height: 30vh;
}

/*streets page*/
#streetsPage{overflow-y: hidden;}
#streetsTable{
  margin-left: auto;
  margin-right: auto;
}
.streetsPageName{text-align: right;}
.streetsPageCount{
  text-align: center;
  width:50%;
}
.streetsTableRow:nth-child(even){background-color: #CCCCCC;}

/*about page*/
.profileLink:hover{
  cursor: pointer;
  outline:solid black 2px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(200,200,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,200.4);
}
