/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img,embed,object,video {max-width:100%}

html,body{
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
}

#container{
  width:100%;
  height:100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#topRow,#midRow,#content{
  margin-top: 10px;
  margin-left :20px;
  margin-right:20px;
}
#topRow,#midRow{
  height:40px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#navToggle,#mapToggle,#home,#switch,.back,.spaceHolder{
  height:40px;
  width:40px;
}
#hamburgerIcon,#mapToggleIcon,#homeIcon,#switchIcon,#searchIcon,.backIcon{
  height:100%;
  width:100%;
}
#title{
  height:100%;
}
#titleImage{
  height: 24px;
  margin-top:8px;
  margin-bottom:8px;
}
#input{
  border-radius:10px;
  height:24px;
  width:180px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("/assets/search_icon.png");
  background-repeat: no-repeat;
  background-size: 24px,24px;
  background-position: right;
  z-index: 1
}
.ui-autocomplete{
  text-align: center;
}
#search{
  height:24px;
  width:24px;
}

#content{
  /*border-radius: 20px;*/
  margin-bottom: 20px;
  background-size: cover;
  flex-grow: 1;
  display:flex;
}
#map{
  flex-grow: 1;
  border-radius: 40px;
}
.labels {
  color: black;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height:30px;
}
#streets{
  flex-grow:1;
}

#navToggle{
 z-index: 101;
}
#menu{
  z-index: 100;
  width: 200px;
  overflow:hidden;
  position: absolute;
  transform: translate(0,-300px);
  transition: transform 0.3s ease;
  left:0;
  border: 1px solid black;
  background-color:white;
}
#menu.open{
  transform: translate(0,0);
}

.page{
  background-color:white;
  display:none;
  position:absolute;
  /*overflow-y: scroll;*/
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  top:0;
  bottom:0;
  z-index: 1000;
  flex-shrink: 0;
}
.pageTopRow,.pageContent{
  margin-left: 20px;
  margin-right: 20px;
}
.pageTopRow{
  height: 60px;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.pageTitle,.back{
  margin-top: auto;
  margin-bottom: auto;
}
.pageContent{
  overflow-y:scroll;
  flex-grow: 1;
  height:100%
}
