/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img,embed,object,video {max-width:100%}

html,body{
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
  /*overflow-x: hidden;*/
  background-color:#FFFFFF;
  overflow:hidden;
}
#loading{
  background-color: yellow;
  color:black;
  position:absolute;
  bottom:0;
  right:0;
  z-index:1000;
}
#container{
  background-color: #D2D6D5;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-shrink: 0;
  color:#061539;
  overflow: hidden;
}
#home{
  height:100%;
  width:100%;
  /*margin:0;*/
  margin-bottom: 0;
  background-size: cover;
  flex: inherit;
  display:flex;
}
#main{
  height:100%;
  display:flex;
  flex-direction: column;
  flex-shrink: 0;
  flex:1;
}
#topRow,#midRow,#content{
  margin-top: 10px;
  margin-left :10px;
  margin-right:10px;
}
#topRow{
  height:40px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#midRow{
  height:40px;
  display:flex;
  flex-direction: row;
}
.rightSide,.leftSide{flex:1;
display:flex;
flex-direction: row;
flex-shrink:0;
}
.rightSide{text-align: right;}
#mapTogglePlaceholder1{flex-grow:1;}
#mapToggleContainer{display:flex;flex-direction: column}
#mapTogglePlaceholder2{
  width:100%;
  flex-grow: 1;
}
.middle{flex:3}
.icon{
  height:40px;
  width:40px;
  background-size: cover;
}
.icon:hover{
  background-color: #DDDDDD;
  cursor:pointer;
}
#switch.streets{background-image: url('/assets/world.png')}
#switch.map{background-image: url('/assets/street_icon.png')}
#hamburgerIcon,#issuesToggleIcon,#helpIcon,#switchIcon,#searchIcon,.backIcon{
  height:100%;
  width:100%;
}
#title{
  height:100%;
}
#titleImage{
  height: 24px;
  margin-top:8px;
  margin-bottom:8px;
}
#combobox{
  /*padding-left: 5px;
  border-radius:10px;
  height:24px;
  width:180px;
  margin-top: 8px;
  margin-bottom: 8px;*/
  /*background-image: url("/assets/search_icon.png");
  background-repeat: no-repeat;
  background-size: 24px,24px;
  background-position: right;*/
  z-index: 1;
}
.ui-autocomplete{
  max-height: 300px;
  overflow-y: scroll;
  /*border-radius: 10px;*/
  /*overflow-x: hidden;*/
  /*min-width: 10px !important;*/
}
.custom-combobox {
    height: 30px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto!important;
    margin-right:auto!important;
    /*border-color:orange !important;*/
    /*border-width:4px !important;*/
    /*position: relative;*/
    display: flex;
    flex-direction: row;

    /*position: {my: "middle top", at: "middle bottom",collision:"none"}*/
    min-width: 188px !important;
    width:100% !important;
  }
  .custom-combobox-toggle {
    background: none !important;
    background-color: white !important;
    border-style: solid !important;
    border-width: 2px !important;
    /*border-top-right-radius: 15px !important;*/
    /*border-bottom-right-radius: 15px !important;*/
    margin-left: -2px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    height: 100%;
    width: 30px !important;
    /*min-width: 10px !important;*/
  }
  .custom-combobox-input {
    background: none !important;
    background-color: white !important;
    border-style: solid !important;
    border-width: 2px !important;
    /*border-top-left-radius: 15px !important;*/
    /*border-bottom-left-radius: 15px !important;*/
    height:30px!important;
    margin: 0;
    padding: 0;
    width:50%!important;
    min-width: 0 !important;
    flex:1 !important;
    /*width:80% !important;*/
    /*min-width: 10px !important;*/
  }
  .custom-combobox-input:focus{
    /*border-top-left-radius: 15px !important;*/
    /*border-bottom-left-radius: 15px !important;*/
    min-width: 10px !important;
  }
  div>.ui-widget{
    width: 100% !important;
    max-width: 600px;
  }
#search{
  height:24px;
  width:24px;
}
#mapToggle{
  clear:both;
  display:block;
  overflow:hidden;
  text-align: right;
  /*position:relative;
  float:right;*/
  /*margin-top: auto;*/
  /*bottom:0;*/
  /*margin-bottom:auto;*/
  /*position:relative;*/
  /*height:20px;*/
  /*margin-top:auto;*/
  /*margin-bottom:0px;*/
  /*min-width: 120px;*/
}
#mapToggle:hover{
  background-color: #DDDDDD;
  cursor:pointer;
  /*min-width: 81px;*/
}
.mapToggleText{
  margin-top: auto;
  margin-bottom:0px;
  /*float:left;*/
}
#content{
  /*border-radius: 20px;*/
  margin-bottom: 0;
  background-size: cover;
  flex-grow: 1;
  display:flex;
}
#content.home{background-image: url('/assets/world.png')}
#map{
  flex-grow: 1;
  /*border-radius: 20px;*/
}
.labels {
  color: black;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height:30px;
}

#sidebar{
  height:100%;
  display:none;
}
#sidebar.open{
  display: flex;
  flex-direction: row;
}
.collapse{
  height:100%;
  width:20px;
  flex:1;
  background-color: grey;
}
.collapse:hover{
  width:25px;
  cursor: pointer;
  background-color: black;
}
#streets,#issues{
  background-color: #7887AB;
  position:relative;
  display:none;
  margin:0;
  height:100% !important;
  width:250px !important;
  top:0;
  left:0;
  overflow-y:hidden;
  overflow-x:hidden;
  text-align: center;
  z-index:2;
  flex-direction: column;
}
#streets.open,#issues.open{
  display:flex;
  flex-direction: column;
  flex-shrink: 0;
}
#issuesTitle,#streetsTitle{
  position: relative;
  height:60px;
  width:100%;
  margin-top: 0;
  background-color:#84C68C ;
}
#streetsFooter,#issuesFooter{
  position: relative;
  height:60px;
  width:100%;
  margin-top: 0;
  background-color:#84C68C ;
}
#streetsExport,#issuesExport{
  color:#FFFFFF;
  position:relative;
  height:40px;
  width:150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3C948B;
  margin-bottom: 10px;
  margin-top:10px;
}
#streetsExport:hover,#issuesExport:hover{
  font-size: 1.1em;
  cursor:pointer;
  height:46px;
  width:160px;
  margin-top: 7px;
  margin-bottom:7px;
}
#issuesTitle>h1,#streetsTitle>h1{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#issuesExport>h1,#streetsExport>h1{
  margin:0;
  padding-top:2px;
  padding-bottom: 2px;
}
/*#streetsExport>h2,#issuesExport>h2{
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right:5px;
}*/
.sidebarContent{
  flex:1;
  display:block;
  overflow:auto;
}

a,a:link,a:visited,a:hover,a:active{
  color:inherit;
  text-decoration: none;
}

.streetRow,.issueRow{
  margin-top:10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color:#FFE3AA;
}
.streetRow{
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.streetRow:hover,.issueRow:hover{
  background-color: #D4B16A;
  cursor: pointer;
}
.rank{
  height:40px;
  border-radius: 25px;
  background-color: #2C8437;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
.name{
  margin-right: 10px;
  margin-left:10px;
}
.streetText{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:5px;
  margin-right:5px;
}

#issuesPlaceHolder,#streetsPlaceholder{
  /*margin-top: 70px;*/
  flex:1;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
#feedbackPage{
  text-align: center;
  display:flex;
  flex-direction: column;
  flex-shrink: 0;
}
#feedbackPage>.pageContent{
  text-align: center;
  flex-grow:1;
}
.feedbackInput{
  width: 100px;
  height:25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
#messageBox{
  width:75%;
  height: 30vh;
}
.issueContent{
  height:100%;
  width:100%;
  margin:0;
}
.issueRow.selected{
  background-color: red !important;
}

.page{
  background-color:white;
  display:none;
  overflow-y: scroll;
  height:100%;
  width:100%;
  max-width: 600px;
  margin-top:0;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  top:0;
  bottom:0;
  z-index: 1000;
  flex-shrink: 0;
}
.pageTopRow,.pageContent{
  margin-left: 20px;
  margin-right: 20px;
}
.pageTopRow{
  height: 60px;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #AAAAAA;
}
.pageTitle,.back{
  margin-top: auto;
  margin-bottom: auto;
}
.pageContent{
  /*overflow-y:scroll;*/
  flex: 1;
  height:100%;
  text-align: left;

}
#bottomRow{
  padding-top: 5px;
  padding-bottom:5px;
  display:flex;
  flex-direction: row;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}
.pageLink{
  margin-left:10px;
  margin-right:10px;
  margin-top:0;
  margin-bottom:0;
}
.pageLink:hover{
  background-color: #DDDDDD;
  cursor: pointer;
}
.divider{
  height:10px;
  border: solid black 5px;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    /*z-index:-1;*/
    display:none;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,200.4);
}

@media screen and (min-width: 500px){
  #issues,#streets{width:300px;}

  /*#custom-combobox-input{width:150px !important;}*/
}

@media screen and (min-width: 800px){
  /*#streets{
    position:relative;
  }*/
  #issues{
    position:relative;
    display:none;
    left:0;
  }
  #streets{
    position:relative;
    display:none;
    right:0;
  }
}

@media screen and (max-height: 400px){
  .ui-autocomplete{
    max-height: 180px;
  }
}
