/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img,embed,object,video {max-width:100%}

html,body{
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
  /*overflow-x: hidden;*/
  background-color:#4F608f;
}

#container{
  background-color: #FFE3AA;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-shrink: 0;
  color:#061539;
}
#main{
  height:100%;
  display:flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow:1;
}
#topRow,#midRow,#content{
  margin-top: 10px;
  margin-left :10px;
  margin-right:10px;
}
#topRow,#midRow{
  height:40px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon{
  height:40px;
  width:40px;
  background-size: cover;
}
.icon:hover{
  background-color: #DDDDDD;
  cursor:pointer;
}
#switch.streets{background-image: url('/assets/world.png')}
#switch.map{background-image: url('/assets/street_icon.png')}
#hamburgerIcon,#mapToggleIcon,#homeIcon,#switchIcon,#searchIcon,.backIcon{
  height:100%;
  width:100%;
}
#title{
  height:100%;
}
#titleImage{
  height: 24px;
  margin-top:8px;
  margin-bottom:8px;
}
#combobox{
  /*padding-left: 5px;
  border-radius:10px;
  height:24px;
  width:180px;
  margin-top: 8px;
  margin-bottom: 8px;*/
  /*background-image: url("/assets/search_icon.png");
  background-repeat: no-repeat;
  background-size: 24px,24px;
  background-position: right;*/
  z-index: 1;
  min-width: 10px !important;
}
.ui-autocomplete{
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 10px;
  /*overflow-x: hidden;*/
  min-width: 10px !important;
}
.custom-combobox {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color:orange !important;
    border-width:4px !important;
    /*position: relative;*/
    display: inline-block;
    /*position: {my: "middle top", at: "middle bottom",collision:"none"}*/
    min-width: 10px !important;
  }
  .custom-combobox-toggle {
    background: none !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    margin-left: -1px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    height: 100%;
    width: 30px !important;
    min-width: 10px !important;
  }
  .custom-combobox-input {
    width:130px !important;
    background: none !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    height:100%
    margin: 0;
    padding: 5px 10px;
    min-width: 10px !important;
  }
  .custom-combobox-input:focus{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    min-width: 10px !important;
  }
#search{
  height:24px;
  width:24px;
}
#mapToggle{background-image: url('/assets/heat_map_icon.png');}
#mapToggle.heatmap{background-image:url('/assets/cluster_map_icon.png') }
#content{
  /*border-radius: 20px;*/
  margin-bottom: 0;
  background-size: cover;
  flex-grow: 1;
  display:flex;
}
#content.home{background-image: url('/assets/world.png')}
#map{
  flex-grow: 1;
  /*border-radius: 20px;*/
}
.labels {
  color: black;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height:30px;
}

#issuesExport>h1,#streetsExport>h1,#issuesTitle>h1,#streetsTitle>h1{
  margin-top: 10px;
}

/*background-color:#FFE3AA;*/
#streets,#issues{
  background-color: #7887AB;
  position:relative;
  display:none;
  height:100%;
  width:250px;
  min-width: 250px;
  top:0;
  left:0;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align: center;
  z-index:2;
  flex-direction: column;
}
#streets.open,#issues.open{
  display:block;
}
#issuesTitle,#streetsTitle{
  position: fixed;
  height:60px;
  width:inherit;
  top:0;
  background-color:#84C68C ;
}
#streetsExport,#issuesExport{
  position:fixed;
  bottom:0;
  height:60px;
  width:inherit;
  background-color: #FFAEAA;
}
#streetsExport:hover,#issuesExport:hover{
  background-color: #DDDDDD;
  cursor:pointer;
}
/*#streetsExport>h2,#issuesExport>h2{
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right:5px;
}*/
#streetsTable{
  margin-top: 70px;
  margin-bottom: 70px;
}

.streetRow{
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 60px;
  background-color:#FFE3AA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.streetRow:hover{
  background-color: #D4B16A;
  cursor: pointer;
}
.rank{
  height:40px;
  border-radius: 25px;
  background-color: #2C8437;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
.name{
  margin-right: 10px;
  margin-left:10px;
}
.streetText{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:5px;
  margin-right:5px;
}

#issuesPlaceHolder{
  margin-top: 70px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#issuesList{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  height:0;
  margin-top: 60px;
}
.issue{order:2;}
.issue.selected{
  order: 1;
  background-color: red !important;
}

.page{
  background-color:white;
  display:none;
  position:absolute;
  overflow-y: scroll;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  top:0;
  bottom:0;
  z-index: 1000;
  flex-shrink: 0;
}
.pageTopRow,.pageContent{
  margin-left: 20px;
  margin-right: 20px;
}
.pageTopRow{
  height: 60px;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.pageTitle,.back{
  margin-top: auto;
  margin-bottom: auto;
}
.pageContent{
  /*overflow-y:scroll;*/
  flex-grow: 1;
  height:100%
}
#bottomRow{
  display:flex;
  flex-direction: row;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}
.pageLink{
  margin-left:10px;
  margin-right:10px;
  margin-top:0;
  margin-bottom:0;
}
.pageLink:hover{
  background-color: #DDDDDD;
  cursor: pointer;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    /*z-index:-1;*/
    display:none;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,200.4);
}

@media screen and (min-width: 500px){
  #issues,#streets{width:300px;}
}

@media screen and (min-width: 800px){
  /*#streets{
    position:relative;
  }*/
  #issues{
    position:relative;
    display:none;
    left:0;
  }
  #streets{
    position:relative;
    display:none;
    right:0;
  }
}

@media screen and (max-height: 400px){
  .ui-autocomplete{
    max-height: 180px;
  }
}
