<div id="streets">
  <div id="streetsTitle"><h1>Street Ranking</h1></div>
  <!-- <div id="streetsPlaceHolder">
    <h1>Streets</h1>
    <p>A street ranking will show here
      when you select a city and a request
      type from the input</p>
  </div> -->
  <div id="streetsTable" data-bind="foreach:streets">
    <div class="streetRow" data-bind="click:$root.goToStreetPage">
      <div class="rank"><h1 class="streetText" data-bind="text:rank"></h1></div>
      <div class="name"><h2 data-bind="text:name"></h2></div>
    </div>
  </div>
  <div id="streetsExport"><h1>Export</h1></div>
</div>
<div id="issues">
  <div id="issuesTitle"><H1>Issue Details</H1></div>

  <div id="issuesPlaceHolder"
  data-bind="visible:
    typeof issues() == 'undefined'">
    <p>Deatails and links to individual issues will show
      here when a cluster center is selected
      from the map.
    </p>
  </div>
  <div id="issuesList" data-bind="foreach:issues,visible:typeof issues() != 'undefined'">
    <div class="issue" data-bind="attr:{id:id_}">
      <a target="blank" class="issueLink",
        data-bind="attr:{
          href:'https://seeclickfix.com/issues/'+String(id_)}">
        <p id="issueP" data-bind="text:id_"></p>
      </a>
    </div>
  </div>
  <div id="issuesExport">
    <h1>Export<h1>
  </div>
</div>
<div id="main">
  <div id="topRow">
    <div id="streetsToggle" class="icon"><img id="streetsIcon" src="/assets/street_icon.png"/></div>
    <div id="title"><img id="titleImage" src="/assets/scastrap_image.png"/></div>
    <div id="home" class="homeLink icon">
      <img id="homeIcon" src="/assets/home_icon.png"/>
    </div>
  </div>
  <div id="midRow">
    <div id="issuesToggle" class="icon"><img id="mapToggleIcon" src="/assets/issues_icon.png"/></div>
    <div class="ui-widget">
      <select id="combobox" type="text" data-bind="options:requestTypes,optionsText:'full_name',optionsValue:'id_'">
        <!-- <option data-bind="text:full_name"></option> -->
      </select>
    </div>
    <div id="mapToggle"class="icon"></div>
  </div>
  <div id="content" data-bind="css:location">
    <div id="map">
    </div>
  </div>
  <div id="bottomRow">
    <p class="pageLink aboutLink">about</p>
    <p class="pageLink helpLink">help</p>
  </div>
</div>
<div id="aboutPage" class="page">
  <div class="pageTopRow">
    <div class="back icon">
      <img class="backIcon" src="/assets/back_icon.png"></img>
    </div>
    <h1 class="pageTitle">About</h1>
    <div class="spaceHolder icon"></div>
  </div>
  <div class="pageContent">
    <p>
      Scastrap is an open source data mining and visualization
      project designed to help local governments determine where
      resources are most needed.
    </p>
    <p>
      The project uses data from the See Click Fix API and features
      a heatMap, a set of clusters, and a street ranking for all
      open and acknowledged issues as of the last update.
    </p>
    <p>Contibutors:</p>
    <p>Allan Visochek, Lead Developer</p>
    <p>Tanzim Hassan, Data Analyst</p>
    <p>Ziqiang Guan, Developer</p>
    <p>Carys Snyder, Designer</p>
  </div>
</div>
<div id="helpPage" class="page">
  <div class="pageTopRow">
    <div class="back icon">
      <img class="backIcon" src="/assets/back_icon.png"></img>
    </div>
    <h1 class="pageTitle">Help</h1>
    <div class="spaceHolder"></div>
  </div>
  <div class="pageContent">
  </div>
</div>
<div id="streetPage" class="page">
  <div class="pageTopRow">
    <div class="back icon">
      <img class="backIcon" src="/assets/back_icon.png"></img>
    </div>
    <h1 class="pageTitle" data-bind="text:chosenStreetName"></h1>
    <div class="spaceHolder"></div>
  </div>
  <div class="pageContent">
    <div data-bind="foreach:chosenStreetStats">
      <p data-bind="text:name"></p>
      <p data-bind="text:count"></p>
    <div>
  </div>
</div>
<div id="issuePage" class="page">
  <div class="pageTopRow">
    <div class="back icon">
      <img class="backIcon" src="/assets/back_icon.png"></img>
    </div>
    <h1 class="pageTitle">Issue!</h1>
    <div class="spaceHolder"></div>
  </div>
</div>
