<button id="nav-toggle">nav</button>
<div><h1><a href="/clusters">clusters</a></h1></div>
<div><h1><a href="/streets">street rankings</a></h1></div>

<script>
  $("#nav-toggle").click(function(e){
    $("#nav").toggleClass("open");
  });
</script>
